.login-background {
    background-image: url('../images/fondoLogin.jpg'); /* Aquí puedes poner la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardL {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;
    color: white;
  }
  .textL{
    color: white;
  }
  