
.dark-mode {
    background-color: #121212;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #121212;
    z-index: 1000;
  }
  
  .menu-button {
    margin-right: 5px;
    opacity: 9; /* Asegúrate de que el botón siempre sea visible */
  }
  
  .netflix-title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #e50914;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  /* Estilos para las tarjetas en modo oscuro */
  .dark-card {
    background-color: #1f1f1f;
    color: white;
  }
  
  .offcanvas-header, .offcanvas-body {
    background-color: #1f1f1f;
    color: white;
  }
  
  /* Estilos adicionales para elementos del offcanvas */
  .nav-link {
    color: #e50914 !important;
  }
  
  .nav-link:hover {
    color: #f40612 !important;
  }

  .slidecolor{
    background-color: #1f1f1f;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 3em;
    
  }
  /*Espacio para el slide de pelis*/
  .carousel-section {
    margin-top: 80px; /* Ajusta este valor si necesitas más o menos espacio */
    width: 100%;
    
  }

  /* Espacio para la sección de películas */
.movies-section {
    margin-top: 50px; /* Ajusta este valor si necesitas más o menos espacio */
    text-align: center;
  }
  
  .category-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }


  /* Personalizar el botón de cierre del offcanvas */
.custom-offcanvas-header .btn-close {
    filter: invert(1);
  }
  .hero{
    position: relative;
  }
  .banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
  }
  .hero-caption{
    position: absolute; 
    width: 100%;
    padding-left: 6%;
    bottom: 0;
  }
  .hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
  }
  .hero-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
  }
  .hero-btns .btn img{
    width: 25px;
  }
  .hero-btns .btn{
    border: 0;
    color: #121212;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .hero-btns .btn.dark-btn{
    color: #fff;
    background: #6d6d6eb3;
  }
  .hero-btns .btn:hover{
        background: #ffffffbf;
  }
  .hero-btns .btn.dark-btn:hover{
    background: #6d6d6e66;
  }
  
  