.register-background {
    background-image: url(../images/fondoRegis.jpeg); /* Aquí puedes poner la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
  }
  